.testimonials {
  padding-top: 100px;
  background-color: #eff2f1;
  text-align: center;
  &__wrapper {
    position: relative;
  }
  &__title {
    margin-bottom: 47px;
  }
  &__slider {
    cursor: grab;
  }
  &__slider-wrapper {
    margin-bottom: 50px;
  }
  &__slider-slide-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 320px;
  }
  &__slider-quote {
    margin: 0 auto;
    max-width: 759px;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 42px;
  }
  &__slider-author-img {
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  &__slider-author-name {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  &__slider-author-position {
    font-size: 13px;
    line-height: 32px;
  }
  &__button {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    background-color: #fff;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    path {
      transition: all 0.5s ease;
    }
    &:hover {
      background-color: $main-color;
      path {
        stroke: #fff;
      }
    }
    &--next {
      right: -50px;
      z-index: 10;
    }
    &--prev {
      left: -50px;
    }
  }
}

// .swiper-pagination {
//   bottom: -20px !important;
// }
.swiper-pagination-bullet {
  background-color: $main-color;
}
